     {{#each samePlaceMarks}}
      <li class="feedbacks_item feedback">
        <div class="feedback__top">
          <div class="feedback__name">{{ name }}</div>
          <div class="feedback__place">{{ place }}</div>
        </div>
        <div class="feedback__text">{{ feedback }}</div>
      </li>
    {{/each}}