<div id="feedback">
  <div class="heading">Отзыв:</div>
  <form action="" id="form">
    <input type="text" name="name" id="input-name" placeholder="Укажите ваше имя">
    <input type="text" name="place" id="input-place" placeholder="Укажите место">
    <input type="text" name="feedback ь" id="input-feedback" placeholder="Оставить отзыв">
    <button id="button"></button>
  </form>
</div>