<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "./templates/geo-content.hbs"}}
  </div>
</body>
</html>
