<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "./templates/geo-content.hbs"}}
  </div>

<script type="text/balloon-template" id="form-balloon">
<div id="feedback">
  <div id="heading">Отзыв:</div>
  <form action="" id="form">
    <input  type="text" name="name" id="input-name" placeholder="Укажите ваше имя">
    <input type="text" name="place" id="input-place" placeholder="Укажите место">
    <textarea name="feedback" id="input-feedback" placeholder="Оставить отзыв"></textarea>
    <button  id="button">Добавить</button>
  </form>
</div>
</script>
</body>
</html>
